.container {
  margin: auto;
  border: 0.0625rem solid darkgray;
  height: 80vh;
  width: 29vw;
  text-align: center;
  display: block;
  background-color: #263238;
  overflow-y: scroll;

  .awards {
    display: block;
    margin-bottom: 1.25rem;
  }

  p {
    color: #66CC99;
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  #award_value {
    color: darkgrey;
    font-size: 1rem;
  }

  .crates {
    .grid {
      margin: auto;
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-gap: 1.25rem;
      grid-auto-flow: row dense;

      @media screen and (max-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
      }


      div:not(.add_part) {
        width: 4.375rem;
        height: 4.375rem;
        border: solid #37474F;
        background-image: url("../../assets/sample-chest.png");
        background-size: cover;
      }

      .add_part {
        width: 4.375rem;
        border: 0.125rem solid #66CC99;
        text-align: center;
        color: white;
        font-size: 3.5rem;

      }
    }

  }

  .runes {
    .grid {
      margin: auto;
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-gap: 1.25rem;

      @media screen and (max-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
      }


      div:not(.add_part) {
        width: 4.375rem;
        height: 4.375rem;
        border: solid #37474F;
        background-image: url("../../assets/runes.jpg");
        background-size: cover;
      }

      .add_part {
        width: 4.375rem;
        height: 4.375rem;
        border: 0.125rem solid #66CC99;
        text-align: center;
        color: white;
        font-size: 4rem;
        font-weight: 300;
      }
    }
  }

  .awards {
    .grid {
      margin: auto;
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-gap: 1.25rem;

      @media screen and (max-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
      }

      div:not(.add_part) {
        width: 4.375rem;
        height: 4.375rem;
        border: solid #37474F;
        background-image: url("../../assets/award.png");
        background-size: cover;
      }

      .add_part {
        width: 4.375rem;
        height: 4.375rem;
        border: 0.125rem solid #66CC99;
        text-align: center;
        color: white;
        font-size: 4rem;
        font-weight: 300;
      }
    }
  }

}
