<div class="container">
  <div class="crates">
    <p> skrzynie </p>
    <div class="grid" id="item" ng-click={show}>
      <div></div>
      <div></div>
      <div></div>
      <div class="add_part"> + </div>
    </div>
  </div>
  <div class="runes">
    <br>
    <p> runy </p>
    <div class="grid">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div class="add_part"> + </div>
    </div>
  </div>
  <div class="awards">
    <br>
    <p> nagrody </p>
    <p id="award_value"> wartość = </p>
    <div class="grid" id="item2" ng-click={show_reward}>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div> +</div>
      <div class="add_part"> + </div>
    </div>
  </div>
</div>
