
#reward_view_equipment {
  margin: auto;
  text-align: center;
  height: 80vh;
  width: 52vw;
  border: 0.0625rem solid darkgrey;
  background-color: #37474F;
  cursor: pointer;

  #close_view {
    outline: none;
    cursor: pointer;
  }

  button:not(.open) {
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    color: white;
    background-color: #37474F;
    border: none;
    margin-right: 45rem;
  }

  .box {
    height: 70%;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    align-items: center;
    display: block;
    background-image: url("../../assets/sample-reward.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    p {
      font-size: 1.2vw;
      color: #66CC99;
      text-transform: uppercase;
      position: absolute;
      bottom: 0;
      margin-left: 24.2vw;

    }

    #open {
      height: 6vh;
      width: 15vw;
      background-color: #263238;
      color: white;
      font-size: 1.2vw;
      text-transform: uppercase;
      border-radius: 0.3125rem;
      border: none;
      white-space: nowrap;
      margin-top: 55vh;
      margin-left: 18.5vw;
    }
  }
}

